/*== Variables ==*/

:root {
  --primary-red: hsl(0, 100%, 74%);
  --primary-green: hsl(154, 59%, 51%);
  --accent-blue: hsl(248, 32%, 49%);
  --dark-blue: hsl(249, 10%, 26%);
  --grayish-blue: hsl(246, 25%, 77%);
  --white: #fff;
}

/*== Global Resets ==*/

/* Universal box sizing > includes padding and border, but NOT margin, in total box size */
*, *:before, *:after {
  box-sizing: border-box;
}

/* Removes margin & padding from all browsers */
html, body, div,
ol, ul, li,
h1, h2, h3, h4, h5, h6,
input, ::placeholder {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

/*== Global Styles ==*/

body {
  background: var(--primary-red);
  background-image: url('images/bg-intro-desktop.png');
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--white);
}

main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}

section {
  width: 33%;
}

#intro > h1 {
  font-size: 2.25rem;
}

/* Offer + Form */

#special-offer {
  background: var(--accent-blue);
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 1.5rem;
  text-align: center;
  box-shadow: 0 8px rgba(0,0,0,17.5%);
}

#special-offer > span {
  font-weight: 600;
}

#form-wrapper {
  background: var(--white);
  border-radius: 5px;
  padding: 2rem;
  text-align: center;
  box-shadow: 0 8px rgba(0,0,0,17.5%);
}

form {
  display: flex;
  flex-direction: column;
}

input {
  border: 1px solid var(--grayish-blue);
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: 1rem;
}

input:focus:not([type="submit"]) {
  outline: none;
  border: 1px solid var(--dark-blue);
}

input[type="submit"] {
  border: 1px solid mediumseagreen;
  background: var(--primary-green);
  color: var(--white);
  text-transform: uppercase;
  box-shadow: inset 0px -3px mediumseagreen;
}

#tos {
  color: var(--grayish-blue);
  font-size: 0.65rem;
  margin-top: 0;
}

#tos > a {
  color: var(--primary-red);
  font-weight: 600;
  text-decoration: none;
}

.input-error {
  display: none;
  color: var(--primary-red);
  margin-top: -10px;
  font-size: 11px;
  font-style: italic;
  text-align: right;
}

.show-warning {
  border: 2px solid var(--primary-red);
  background: url('/images/icon-error.svg') no-repeat 95%;
}

/* Footer Attribution */

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/*== Media Queries ==*/

@media (max-width: 900px) {

  main {
    flex-direction: column;
    justify-content: space-around;
    height: auto;
    margin: 4rem 0 2rem;
  }

  section {
    width: 80%;
  }

  #intro {
    text-align: center;
  }

  #intro > h1 {
    font-size: 2rem;
  }

}
